{{template "partials/top"}}

<h1>Leidmine</h1>
{{ template "findings/components/fetchActAttributes" .}}
{{ if .Locs }}
{{ template "findings/components/locationList" . }}
{{ end }}
{{ template "findings/components/addLocation" . }}

<div class="row mt-2">
  <form action="/leidmine/akt/{{ .Act.ID }}/pdf" method="GET" />
    <button type="submit" class="btn btn-warning">PDF</button>
  </form>
</div>

{{template "partials/bottom"}}
 