{{template "partials/top"}}

<h1>Leidmine</h1>

{{template "findings/components/fetchActAttributes" . }}
<a class="btn btn-success" href="/leidmine/akt/{{ .Act.ID }}/lisa_asukoht" role="button">Lisa asukoht</a>
<p> {{.}}</p>
<p> {{.Errors}}</p>

{{template "partials/bottom"}}
