<form action="/leidmine/akt/{{ .ActId }}/asukoht/{{ .LocId }}/uusleid" method="POST" />
<p>Lisa leid</p>
<div class="row mb-3">
  <div class="col">
    <label for="name" class="form-label">Nimetus</label>
    <input type="input" class="form-control" id="name" name="name">
  </div>
  <div class="col">
    <label for="amount" class="form-label">Kogus</label>
    <input type="input" class="form-control" id="amount" name="amount">
  </div>
  <div class="col">
    <label for="xCoord" class="form-label">X-koordinaat</label>
    <input type="input" class="form-control" id="xCoord" name="xCoord">
  </div>
  <div class="col">
    <label for="yCoord" class="form-label">Y-kooordinaat</label>
    <input type="input" class="form-control" id="yCoord" name="yCoord">
  </div>  
</div>
<button type="submit" class="btn btn-primary">Salvesta leid</button>
</form>
