
<div class="col aligin-items-end">
  <div class="row aligin-items-end">
    LOC> {{ .Act.TransferLocation }}
  </div>
  <div class="row aligin-items-end">
    DATE> .Act.TransferDate
  </div>
</div>

<div class="row aligin-items-center">
  <em>Arheoloogiliste leidude</em>
</div>
<div class="row aligin-items-center">
  <em>üleandmise-vastuvõtmise akt nr {{ .Act.WDActNumber }}</em>
</div>
