<table class="table">
  <thead>
    <tr>
      <th scope="col">Maakond</th>
      <th scope="col">Vald</th>
      <th scope="col">Küla</th>
      <th scope="col">KÜ lähinimi</th>
      <th scope="col">KÜ</th>
      <th scope="col">Leide kokku</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{ $actId := .Act.ID }}
    {{range .Locs }}
      <tr>
        <td>{{.County}}</td>
        <td>{{.Parish}}</td>
        <td>{{.Village}}</td>
        <td>{{.CadastralUnitName}}</td>
        <td>{{.CadastralUnitCode}}</td>
        <td>{{.FindingsAmount}}</td>
        <td><form action="/leidmine/akt/{{$actId}}/eemalda_asukoht/{{ .ID }}" method="POST"><button type="submit" class="btn btn-danger">-</button></form></td>
        <td><a class="btn btn-success" href="/leidmine/akt/{{$actId}}/asukoht/{{ .ID }}/uusleid" role="button">+ leid</a></td>
      </tr>
      <tr>
        <td colspan="8">
        <div style="float: right;">
          <table class="table">
            <thead>
            <tr>
              <th>Leid</th>
              <th>Kogus</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            {{ range .Afacts }}
            <tr>
              <td> {{ .Name }}</td>
              <td> {{ .Amount }}</td>
              <td><a class="btn btn-warning" href="#" role="button">muuda</a></td>
            </tr>
            {{ end }}
            </tbody>
          </table>
          </div>
        </td>
     </tr>
    {{ end }}
  </tbody>
</table>