<table class="table">
  <thead>
    <tr>
      <th scope="col">Maakond</th>
      <th scope="col">Vald</th>
      <th scope="col">Küla</th>
      <th scope="col">KÜ lähinimi</th>
      <th scope="col">KÜ</th>
      <th scope="col">Leide kokku</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{ $actId := .Act.ID }}
    {{range .Locs }}
      <tr>
        <td>{{.County}}</td>
        <td>{{.Parish}}</td>
        <td>{{.Village}}</td>
        <td>{{.CadastralUnitName}}</td>
        <td>{{.CadastralUnitCode}}</td>
        <td>{{.FindingsAmount}}</td>
        <td><form action="/leidmine/akt/{{$actId}}/eemalda_asukoht/{{ .ID }}" method="POST"><button type="submit" class="btn btn-danger">-</button></form></td>
      </tr>
    {{end}}
  </tbody>
</table>