{{template "partials/top"}}

<h1>Konserveerimine</h1>

    /*<div class="col">
      <div class="mb-3">
        <label for="findingType" class="form-label">Leidmise tüüp</label>
        <input type="text" class="form-control" id="findingType" aria-describedby="findingType" value="detektor">
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="findersFee">
        <label class="form-check-label" for="findersFee">Leiutasu</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="resiginOwnership">
        <label class="form-check-label" for="resiginOwnership">Omandiõigus</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="remainAnonymous">
        <label class="form-check-label" for="remainAnonymous">Anonüümsus</label>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="transferDate" class="form-label">Üleandmise aeg</label>
        <input type="text" class="form-control" id="transferDate" aria-describedby="transferDate">
      </div>
      <div class="mb-3">
        <label for="transferLocation" class="form-label">Üleandmise koht</label>
        <input type="text" class="form-control" id="transferLocation" aria-describedby="transferLocation">
      </div>
      <div class="mb-3">
        <label for="fileNumber" class="form-label">Akti number</label>
        <input type="text" class="form-control" id="fileNumber" aria-describedby="fileNumber">
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <button type="button" class="btn btn-success">PDF</button>
      </div>
      <div class="mb-3">
        <button type="button" class="btn btn-warning">Loobu</button>
      </div>
    </div>
  </div>*/

{{template "partials/bottom"}}