{{template "partials/top"}}

<h1>Konserveerimine</h1>

{{ if eq .Template.a 1 }}
{{template "conservations/partials/a"}}
{{ else }}
{{template "conservations/partials/b"}}
{{end}}
{{template "partials/bottom"}}
